<div class="container">
	<div class="aboutme animated bounceinleft" ng-controller="aboutmeController">
		<div class="container-fluid bg-grey aboutme">
			<div class="row">
				<div class="col-sm-4">
					<img class="img-responsive" src="./assets/images/me.jpg" alt="Chania" width="460" height="345">  
				</div>
				<div class="col-sm-8">
					<h1 id="name">{{data.name[language]}}</h1> 
					<p id="summary">{{data.summary[language]}}</p>
				</div>
			</div>
		</div>
		<div class="container-fluid text-center aboutme">
			<h1 id="languageheader"><strong></strong></h1>
			<br><br>
			<div class="row">
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-heart logo-small"></span>
					<h4 class="bold">C++</h4>
					<p id="glyphicon0">{{data.glyphicons[0][language]}}</p>
				</div>
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-phone logo-small"></span>
					<h4 class="bold">Java</h4>
					<p id="glyphicon1">{{data.glyphicons[1][language]}}</p>
				</div>
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-lock logo-small"></span>
					<h4 class="bold">C</h4>
					<p id="glyphicon2">{{data.glyphicons[2][language]}}</p>
				</div>
			</div>
			<br><br><br><br>
			<div class="row">
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-comment logo-small"></span>
					<h4 class="bold">JS/JQuery/<br />AngularJS</h4>
					<p id="glyphicon3">{{data.glyphicons[3][language]}}</p>
				</div>
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-home logo-small"></span>
					<h4 class="bold">HTML/CSS/Bootstrap</h4>
					<p id="glyphicon4">{{data.glyphicons[4][language]}}</p>
				</div>
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-user logo-small"></span>
					<h4 class="bold">MongoDB/Express</h4>
					<p id="glyphicon5">{{data.glyphicons[5][language]}}</p>
				</div>
			</div>
			<br><br><br><br>
			<div class="row">
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-leaf logo-small"></span>
					<h4 class="bold">Assembly</h4>
					<p id="glyphicon6">{{data.glyphicons[6][language]}}</p>
				</div>
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-console logo-small"></span>
					<h4 class="bold">NodeJS</h4>
					<p id="glyphicon7">{{data.glyphicons[7][language]}}</p>
				</div>
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-stats logo-small"></span>
					<h4 class="bold">MATlab</h4>
					<p id="glyphicon8">{{data.glyphicons[8][language]}}</p>
				</div>
			</div>
		</div>

		<div class="container-fluid  bg-grey">
			<h2 id="contactheader" class="text-center">{{data.contact.header[language]}}</h2>
			<div class="row">
				<div class="col-sm-5">
					<p id="contactquestion">{{data.contact.question[language]}}</p>
					<p><span class="glyphicon glyphicon-map-marker"></span> Lindenhurst, US</p>
					<p><span class="glyphicon glyphicon-phone"></span> +1-631-957-2405</p>
					<p><span class="glyphicon glyphicon-envelope"></span> dardan.fejza@gmail.com</p> 
				</div>
				<div class="col-sm-7">
					<div class="row">
						<div class="col-sm-6 form-group">
							<input class="form-control" ng-model="formDetails.name" id="contactname" name="name" placeholder="{{data.contact.name[language]}}" type="text" required>
						</div>
						<div class="col-sm-6 form-group">
							<input class="form-control" ng-model="formDetails.email" id="contactemail" name="email" placeholder="{{data.contact.email[language]}}" type="email" required>
						</div>
					</div>
					<textarea class="form-control" ng-model="formDetails.message" id="contactcomment" name="message" placeholder="{{data.contact.comment[language]}}" rows="5"></textarea>
					<br>
					<div class="row">
						<div class="col-sm-12 form-group">
							<button ng-click="submitForm()" class="btn btn-default pull-right" id="FormSubmit" type="submit">{{data.contact.FormSubmit[language]}}</button>
						</div>
					</div> 
				</div>
				<img src="./resources/images/Thanks.png" class="img-responsive" id="LoadingImage" style="display:none" />
			</div>
		</div>
	</div>
</div>