<div ng-controller="mangaViewerController">
	<ul class="pager">
		<li ng-if="data.pagenum>1" class="previous" is-disabled=true><a ui-sref="mangaViewerPage({mangaId : data.name, volume : data.volume,pagenum : data.pagenum-1})">← Previous</a></li>

		<!-- Volume Selection -->
		<div class="btn-group" uib-dropdown>
			<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
				Volume {{data.volume}}<span class="caret"></span>
			</button>
			<ul class="dropdown-menuMANGA" uib-dropdown-menu role="menu" aria-labelledby="single-button">
				<li ng-repeat="choice in [1]"">
					<a ui-sref="mangaViewerPage({mangaId : data.name, volume : choice,pagenum : 1})">{{choice}}</a>
				</li>
			</ul>
		</div>
		<!-- Page Selection -->
		<div class="btn-group" uib-dropdown>
			<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
				Page {{data.pagenum}}<span class="caret"></span>
			</button>
			<ul class="dropdown-menuMANGA" uib-dropdown-menu role="menu" aria-labelledby="single-button">
				<li ng-repeat="choice in filteredTodos"">
					<a ui-sref="mangaViewerPage({mangaId : data.name, volume : data.volume,pagenum : choice.page})">Page {{choice.page}}</a>
				</li>
			</ul>
		</div>


		<li class="next"><a ui-sref="mangaViewerPage({mangaId : data.name, volume : data.volume,pagenum : data.pagenum+1})">Next →</a></li>
	</ul>

	<hr>
	<a ui-sref="mangaViewerPage({mangaId : data.name, volume : data.volume,pagenum : data.pagenum+1})">
		<img ng-src="/assets/manga/{{data.name}}/volume{{data.volume}}/y ({{data.pagenum}}).jpg" style="width:100%;">
	</a>
</div>