<table id="table" class="table table-striped animated bounceinleft">
  <thead>
    <tr>
      <th>IP</th>
      <th>Date</th>
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody id="tableBody">
    <script id="tableTemplate" type="text/template">
      <tr>
        <td>{{ip}}</td>
        <td>{{date}}</td>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{message}}</td>
      </tr>  
    </script>
  </tbody>
</table>