<div class="container">
  <div class="jumbotron">
    <h2>Pitiful chatroom version 0.02</h2><button id="clearChat" ng-click="clearChat()" class="btn btn-default" type="submit">Clear Chat History</button>
  </div>
  <div ng-controller="chatController">
    <div class="row" data-ng-init="useInterval()">
      <div class="col-xs-12">
        <div id="convobox" ng-bind-html="deliberatelyTrustDangerousSnippet()" style="height:300px;overflow: auto;padding:10px;"></div>
      </div>
      <div class="col-xs-2">
        <input class="form-control" id="user" ng-model="formDetails.id" type="text" placeholder="name">
      </div>
      <div class="col-xs-6">
        <input class="form-control" ng-model="formDetails.msg" id="msg" type="text" placeholder="message">
      </div>
      <button id="sendchat" ng-click="submitMessage()" class="btn btn-default" type="submit">Send</button>
    </div>
  </div>
  
</div>