
.language {
  float : right;
  padding-left: 50px;
  margin-top: -150px;
}

.fake-link {
    color: green;
    text-decoration: underline;
    cursor: pointer;
}

.english {
  display: inline;
}

.navigation {
  margin-top: -200px;
  float : right;
}

.navigation ul li {
  float : left;
  list-style-type: none;
  margin: 0px 10px;
}


.dynamic {
  padding-left: 100px;
}
.dynamic ul {
  padding-left: 150px;
}

body {
 margin-top: 200;
}