
.language {
  float : right;
  padding-left: 70px;
  margin-top: -150px;
}

.fake-link {
    color: green;
    text-decoration: underline;
    cursor: pointer;
}

.english {
  display: inline;
}

.navigation {
  margin-top: -200px;
  float : right;
}

.content_title {
   font-size : 64px;
}
.content_name {
   font-size : 22px;
}

.content_body {
   font-size : 16px;
}

.content_pic {
   float : left;
   padding-right: 10px;
}

.content_repotitle {
   font-size : 34px;
}
.content_repos{
  font-size : 22px;
}

.navigation ul li {
  float : left;
  list-style-type: none;
  margin: 0px 10px;
}


.dynamic {
  padding-left: 100px;
}
.dynamic ul {
  padding-left: 150px;
}

body {
 margin-top: 200;
}